
@import "vars";

/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	.s-product {

    .form {
      margin-left: 0;

      &__download {
        right: 0;
      }
    }
  }
}

// ≥992px
@include media-breakpoint-down(md) {
  .hamburger {
    display: block;
  }    

  .form {
    &--vertical {
      max-width: 350px;
      margin: 0 auto;
    }
  }

  .header {
    // padding: 5px 0;
    padding: 0;
    &__top {
      margin-bottom: 0;
    }
  }

  .footer {
    text-align: center;

    &__content {
      flex-direction: column;

      & > * {
          margin: 0 0 20px 0 !important;            
      }
    }
  }

	.main-menu {
    display: none;
    background-color: $black;
    position: fixed;
    top: 89px;
    left: 0;
    right: 0;
    text-align: left;
    margin-left: 0;
    z-index: 98;
    padding: 10px 0;

		ul {
			display: block;
			height: auto;
      padding: 0;
      margin: 0;

			li {
        margin: 0 0 5px;

        &:last-child {
          margin: 0;
        }
			}
		}
  }    

  .s {

    &-main {
      &__title, &__text {
        margin-left: 0;
      }
      &__text {
        margin-bottom: 20px;
      }
      &__img {
        img {
          margin-right: 0;
        }
      }
      .form {
        margin: 0 auto;
      }
    }

    &-advantages {
      &__certificate {
        margin-bottom: 20px;
      }
    }

    &-product {
      .form {
        &__download {
          position: relative;
        }
      }
    }

    &-production {
      .production {
        &__img {
          position: static;
          margin-bottom: 20px;
          text-align: center;
        }
      }
      .form {
        margin-top: 20px;
      }
    }

    &-comand {
      .comand {
        margin-bottom: 20px;
        &__img {
          margin-bottom: 8px;
        }
        &__name {
          margin-bottom: 0;
        }
      }
    }

    &-design {

      .design {
        margin-bottom: 30px;
      }

      .form {
        margin: 0 auto;
      }
    }

    &-about {
      .form {
        form {
          display: block;
        }
      }
    }
  }
}

// ≥768px
@include media-breakpoint-down(sm) {  

  .form {

    &__title {
      font-size: 15px;
      letter-spacing: -0.3px;
    }
    
    &--horizontal {
      .form {
        &__title {
          text-align: center;
        }
        
        &__content {
          flex-direction: column;
          max-width: 500px;
        } 
        
        &__info {
          max-width: 500px;
        }
      }

      .input-div {
        margin-right: 0;
      }  
    }

    .input-div, .button {
      width: 100%;
    }

    &--vertical {
      max-width: none;
      .form {
        
        &__content {
          .input-div, .button {
            max-width: 500px;
          }          
        }

        &__info, &__srok {
          max-width: none;
        }
      }
    }
  }

  .logo {
    max-width: 200px;
  }

  .header {
    .grow {
      display: block;
    }
  }

  .section {
    &-title {
      font-size: 24px;
    }      
  }

  .s {
    &-main {
      
    } 

    &-product {
      .carousel-product {
        padding: 0 30px;
      }
    }

    &-production {
      .form {
        .saving {
          top: 5px;
        }
      }
    }

    &-design {
      .design {
        &__title {
          font-size: 18px;
          margin-bottom: 20px;
          text-align: center;
        }
        &__text {
          font-size: 15px;
        }
      }
      li {
        margin-bottom: 15px;
      }
    }

    &-comand {
      &__content {
        display: none;
      }

      .carousel-comand {
        display: block;
      }
    }

    &-contact {
      .contact {
        position: relative;
        &__content {
          display: block;
        }
        &__phone, &__address {
          text-align: left;
          font-size: 14px;
          letter-spacing: -0.2px;
        }
        &__phone {
          margin-bottom: 25px;
        }
      }
    }

    &-thanks {
      background-image: none;
      background-color: $accent;
    }
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .break {
    display: inline;
  }

  .call-me {
    display: flex;
  }

  .s {

    &-main {
      padding-top: 150px;
      &__title {
        font-size: 24px;
      }
      &__text {
        font-size: 20px;
      }
    }

    &-advantages {
      .advantage {
        &__img {
          margin-right: 10px;
        }
        &__text {
          font-size: 14px;
        }
      }
    }

    &-design {

      .form {
        width: auto;
        height: auto;
        background-image: none;
      }
    }
    
    &-thanks {
      padding: 150px 0 50px;
      
      &-title {
        font-size: 30px;
      }

      &-text {
        font-size: 16px;
        margin-bottom: 40px;
      }
    }
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
  
}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {
  .main-menu {
		.container {
			width: auto;
			padding: 0;
		}
  }
}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}